<div class="user-show">
<h2 id="username"><%= @user.food_truck_name %></h2>
<img src=<%= @profile_pic %> height="200" width="200"
<br>
<p><%= @user.email %></p>
<% if current_user.admin? %>
  <div id="delete"><%= button_to "Delete User", user_path, method: :delete, :data => {:confirm => 'Are you sure?' }%></div>
  <div id="admin-home"><%= button_to 'Admin Home', users_path, method: :get %></div>
<% end %>

<p>Use the form below to add your location to the map so that hungry people can find you.</p>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :location, "Street Address" %><br />
    <%= f.text_field :location %>

    <%= f.label :city %><br />
    <%= f.text_field :city %>

    <%= f.label :state %><br />
    <%= f.text_field :state %>

  </div>

  <div class="actions">
    <%= f.button 'Add Location to Map', type: 'submit' %>
  </div>
<% end %>
</div>
