<div class="user-show">
  <h2 id="food_truck_name"><%= @user.food_truck_name %></h2>
  <img src=<%= @profile_pic %> height="200" width="200"
  <br>
  <p><%= @user.email %></p>
  <div id="location"><%= button_to 'Add/Change Location', edit_user_path, method: :get %></div>
  <% if current_user.admin? %>
  <div id="delete"><%= button_to "Delete User", user_path, method: :delete, :data => {:confirm => 'Are you sure?' }%></div>
    <% if @user.role == 'user' %>
  <div id="approve"><%= button_to 'Approve', edit_user_path(current_user), method: :get %></div>
    <% end %>

  <div id="admin-home"><%= button_to 'Admin Home', users_path, method: :get %></div>
  <% end %>

  </div>
</div>
